body {
	background-image: url("pink-blue-watercolor.jpg");
}

.header {
	background-color: white;
	border-radius: 100px;
	border-left: 50px;
	border: 50px solid black;
	border-width: 5px;
	width: 950px;
	left: 60px;
	position: absolute;
	overflow: hidden;
}

.logo img{
	width: 15%;
	height: auto;
	overflow: hidden;
	border: 5px solid black;
	border-radius: 150px;
	position: relative;
	left: 10px;
	right: auto;
	top: 2px;
	bottom: auto;
}

#bakery {
	font-family: 'Montez', cursive;
	font-size: 135px;
	position: absolute;
	left: auto;
	right: 100px;
	bottom: 25px;
	top: auto;
	color: purple;
}

.menu {
	font-family: 'Walter Turncoat', cursive;
	font-size: 24px;
	position: absolute;
	left: auto;
	right: 20px;
	top: 125px;
	bottom: auto;
	overflow: hidden;
}

.horizontalmenu li{
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	background-color: transparent;
}

a:visited {
	color: black;
}

a:link {
	color: #330033;
}

a:hover {
    text-decoration: underline;
    color: white;
    color: black;
    background-color: #FF80B2;
    font-size: 100%; 
}

.content {
	background-color: white;
	margin: 20px auto 0;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 40px;
	position: absolute;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 0px;
	position: absolute;
	top: 200px;
	border: 5px solid white;
	border-radius: 70px;
	overflow: hidden;
	color:#2b5165;
}

.imgcontent img{
	background-color: white;
	margin-left: 70px;
	margin-right: 0px;
	margin-bottom: 40px;
	position: absolute;
	border-radius: 70px 0 0  70px;
	border: 5px solid white;
	opacity: 1;
	top: 220px;
}

#bakeryimage img{
	float: right;
	opacity: 1;
	border-radius: 70px; 
}

p {
	font-family: 'Walter Turncoat', cursive;
	font-size: 18px;
}

P {
	font-family: 'Walter Turncoat', cursive;
	font-size: 20px;
}

#texthome {
	background-color: white;
	margin-left: 758px;
	margin-right: 80px;
	margin-bottom: 40px;
	border-radius: 0 70px 70px 0;
	border-color: solid white;
	position: absolute;
	top: 220px;
	padding: 11px;
	opacity: .95;
	color:#2b5165;
}

.menutype {
	font-family: 'Walter Turncoat', cursive;
	font-size: 24px;
	text-align: center;
}

.menuitem{
	text-align: left;
	font-family: 'Walter Turncoat', cursive;
	font-size: 22px;
	color:#2b5165;
}

.menucaption {
	text-align: left;
	font-family: 'Walter Turncoat', cursive;
	font-size: 16pt;
	color: #b49b79;
}

.menuprice {
	text-align: right;
	font-family: 'Walter Turncoat', cursive;
	font-size: 16pt;
	color: #000000;
}

.galleryimages img{
	float: left;
	left: 200%;
	width: 30%;
	margin-right: 1%;
	margin-bottom: .5em;
}

.caption {
	float: left;
	font-family: 'Walter Turncoat', cursive;
	font-size: 12pt;
	color: #2b5165;
	text-align: center;
	width: 100%;
	margin-right: 1%;
	margin-bottom: 0.5em;
}

.imgcontent img{
	background-color: white;
	border-radius: 70px 0 0  70px;
	border: 5px solid white;
	opacity: 1;
}

.contestheading{
	font-family: 'Walter Turncoat', cursive;
	font-size: 36px;
	text-align: center;
	color: #99003D;
}

.contestheadingtwo{
	font-family: 'Walter Turncoat', cursive;
	font-size: 30px;
	text-align: center;
	color: #99003D;
}

.contestcontent{
	font-family: 'Walter Turncoat', cursive;
	font-size: 21px;
	text-align: center;
	color: #7E6C55;
}

#textcontact {
	background-color: white;
	margin-left: 668px;
	margin-right: 80px;
	margin-bottom: 40px;
	border-radius: 0 70px 70px 0;
	border-color: solid white;
	position: absolute;
	top: 220px;
	padding: 11px;
	opacity: .95;
	color:#2b5165;
}

.footer {
	background-image: url("pink-blue-watercolor.jpg");
	padding-bottom: 0;
	padding-top: 0;
	height: 40px;
	position: fixed;
	bottom: 0px;
	background: solid white;
	opacity: 1;
	width: 100%;
	font-family: Georgia;
}

.footernav li{
	display: inline-block;
	margin-right: 35px;
	margin-left: 30px;
	position: relative;
	bottom:6px; 
}